.collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.is-active{
    color: lightblue !important;
    background-color: transparent;
    border-bottom: 4px solid lightblue;
}
.fixed-top  {
background-color: aqua !important;
} 
